* {
    margin: 0px;
}

.banner {
    background-color: #43271A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 80px;
    color: white;

}

.lewy {
    background-color: #DBB09C;
    width: 40%;
    height: 700px;
    float: left;
}

.prawy {
    background-color: #FFE3d4;
    width: 60%;
    height: 700px;
    float: left;

}

.stopka {
    background-color: #40281A;
    color: white;
    text-align: right;

}

img {
    width: 200px;
    height: 300px;
    padding: 30px;
}


ol {
    list-style: upper-roman;
}

.tabela, td {
    border: 1px dotted;
    border-color: brown;
    width: 500px;
    text-align: center;
    margin: 10px;
}
